/**
 * @file
 * HTML Element Styling
 *
 * We don't use reset style sheets in openacademy, so here we take extra
 * care to make sure everything looks as close as possible across all browsers
 *
 * @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 * @see http://snook.ca/archives/html_and_css/no_css_reset/
 */

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;
*/
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

/*
 * Block-level elements
 *
 * To achieve a pleasant vertical rhythm, we use the 1.5em line height of our
 * base font as the top and bottom margins for our block level elements and make
 * the line heights of any larger fonts be a multiple of 1.5 ems. For more
 * information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl,
hr, table, fieldset {
  margin: 1.5em 0;
}

/* Override Sytem Module's Top Border Line */
tbody {
  border-top: 0;
}

.ctools-dropdown-container hr {
  margin: 0;
}

/* Headings */
h1,
h2,
h3 {
  line-height: normal;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.75em 0;
  /* 0.75em is equivalent to 1.5em in the page's base font. Remember, a
     margin specified in ems is relative to the element's font-size, not to the
     pages' base font size. So, for example, if we want a 1.5em margin (relative
     to the base font), we have to divide that length by the element's
     font-size:  1.5em / 2em = 0.75em  */
}

h2 {
  font-size: 1.5em;
  margin: 1em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
}

h3 {
  font-size: 1.3em;
  margin: 1.154em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.3 = 1.154 */
}

h4,
h5,
h6 {
  font-size: 1.1em;
  margin: 1.364em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
}

h1.title, h1.pane-title,
h2.title, h2.pane-title,
h3.title, h3.pane-title,
h4.title, h4.pane-title,
h5.title, h5.pane-title,
h6.title, h6.pane-title { /* We want to remove the top margin on system titles
  because they are almost always at the top of a pane/region, and that margin
  often creates unwanted white space */
  margin-top: 0;
}

/* Paragraph styles. */
p {
  margin: 0 0 1em;
  font-size: 15px;
  line-height: 22px;
}

/* List styles. */
ul,
ol {
  margin-left: 0;
  padding-left: 2em;
  list-style-position:inside;
}

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Table styles. */
table {
  width: 99%;
}

th {
  background-color: #3E3E3E;
  color: #FFF;
  padding: 10px;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

tr.even td.active {
  background-color: #EEEEEE;
}
tr.odd td.active {
  background-color: white;
}

/* Code. */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
  white-space: pre-wrap;
}

/* Abbreviation. */
abbr,
acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* Forms. */
form {
  margin: 0;
  padding: 0;
}

form label {
  font-weight: normal;
}

form .form-text,
form .form-submit,
form .form-file,
form.search-form .form-text, 
form.search-form .form-submit {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #CCC;
  padding: 2px 0.25em 3px;
  color: #666;
}

form .form-submit,
.field-name-field-publication-action a.action-link {
  background: -moz-linear-gradient(top, #7ec22A 0%, #58A500);
	background: -webkit-gradient(linear, left top, left bottom, from(#7ec22A), to(#58A500));
  border-radius: 19px;
  -moz-border-radius: 19px;
	-webkit-border-radius: 19px;
  border: 0;
  color: #FFF;
  font-size: 15px;
  padding: 7.5px 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  margin-right: 10px;
}

#modal-content .form-submit:hover, 
#node-edit .form-actions input:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#326F00), to(#7ec22A));
	background: -moz-linear-gradient(center bottom , #326F00 0%, #7ec22A 100%) repeat scroll 0 0 #7ec22A;
}

#node-edit .form-actions input.form-submit:hover {
  background: -moz-linear-gradient(center bottom , #C5C5C5 0%, #FAFAFA 100%) repeat scroll 0 0 #E6E6E6;
}

form .form-submit:active {
  background: #7ec22A;
}

form input.focus-field {
  background-color: #E5F4F9;
}

form input.error {
  color: red;
}

html.js input.form-autocomplete {
  background-position: 100% 4px;
}


/* "Skip to Main Content" link
 * ---------------------------
 * This link useful for both visually impaired people and those with mobility impairments
 * who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/ */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}
