/**
 * General styles
 */
#header {
  margin-top: 20px;
  position: relative;
  margin-bottom: 1.5em;
  clear: both;
  margin-top: 0;
  min-height: 147px;
  border-bottom: 1px solid #999999;
  -moz-box-shadow: 0 1px #fff;
  -webkit-box-shadow: 0 1px #fff;
  box-shadow: 0 1px #fff;
}

#name-and-slogan {
  margin-right: 250px; /* Leave a gutter for #secondary and #search */
}

#logo {
  float: left;
  margin-right: 10px;
}

#header #site-name-mobile {
  display: none;
}
  
#site-name {
  font-size: 2em; /* 14 -> 28px */
  padding: 40px 0 0 0;
  margin: 0 0 0.75em 185px;
  line-height: 1.3em;
  font-weight: normal;
}

#site-name a {
  font-size: 30px;
  color: #333333;
}

#site-name a:hover {
  text-decoration: none;
}
  
#header .site-name-image-wrapper {
  margin: 0;
}

#header #menu-and-search-mobile {
  display: none;
}

#menu-and-search #navigation {
  display: block;
}

/**
 * General styles - Mobile
 */
@media only screen and (max-width: 480px) {
  #header {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    -moz-box-shadow: 0 0 transparent;
    -webkit-box-shadow: 0 0 transparent;
    box-shadow: 0 0 transparent;
    min-height: 50px;
  }
  
  body.not-front #header #logo,
  body.not-front #header #site-name,
  .secondary-nav-bg,
  .breadcrumb {
    display: none;
  }

  #header #menu-and-search-mobile {
    position: relative;
    display: block;
    color: #FFF;
    height: 47px;
    text-transform: uppercase;
  }
  
    #header #site-name-mobile {
      display: block;
    }
    
    #header #site-name-mobile a {
      font-size: 1.2em;
      width: 150px;
      display: block;
      padding: 3px 10px;
      color: #333;
      font-weight: normal;
      text-transform: none;
    }
    
    #header #site-name-mobile a:hover {
      text-decoration: none;
      color: #2C95C8;
    }
  
    #header #menu-mobile-controller {
      background: #404040;
      background-image: linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
      background-image: -o-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
      background-image: -moz-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
      background-image: -webkit-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
      background-image: -ms-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #343434),
        color-stop(1, #4C4C4C)
      );
      background: #2C95C8;
      background-image: url('../images/blue-texture-background.png');
    }
    
      #header #menu-mobile-controller:active,
      #header #menu-mobile-controller.active {
        background: #282828;
        background-image: linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -o-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -moz-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -webkit-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -ms-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, #1A1A1A),
          color-stop(1, #333333)
        );
        background-image: url('../images/blue-texture-background.png');
      }
      
      #header #menu-mobile-controller:active,
      #header #menu-mobile-controller.active,
      #header .mobile-show-border {
        border-bottom: 1px solid #999;
      }

  #header #menu-mobile-controller {
    position: absolute;
    left: 180px;
    top: -3px;
    z-index: 2;
    width: 100%;
    font: normal 18px/50px 'BreeSerifRegular', 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  }
  
    #header #menu-mobile-controller-inner {
      padding: 0 20px;
      font-weight: normal;
      text-transform: capitalize;
    }

  #header #search-mobile-controller {
    position: absolute;
    right: 0;
    top: -3px;
    z-index: 3;
    padding: 0;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    width: 50px;
    max-width: 50px;
    height: 50px;
    border-left: 1px solid #999;
    
    background: #6d6d6d url(../images/icon-search-mobile.png) no-repeat center center;
    background-image: url(../images/icon-search-mobile.png), linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -o-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -moz-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -webkit-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -ms-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(90,90,90)),
      color-stop(1, rgb(128,128,128))
    );
  }
  
    #header #search-mobile-controller.active {
      background: #6d6d6d url(../images/icon-mobile-search-expanded.png) no-repeat center center;
      background-image: url(../images/icon-mobile-search-expanded.png), linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
      background-image: url(../images/icon-mobile-search-expanded.png), -o-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
      background-image: url(../images/icon-mobile-search-expanded.png), -moz-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
      background-image: url(../images/icon-mobile-search-expanded.png), -webkit-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
      background-image: url(../images/icon-mobile-search-expanded.png), -ms-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
      background-image: url(../images/icon-mobile-search-expanded.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(90,90,90)),
        color-stop(1, rgb(128,128,128))
      );
    }

  #menu-and-search {
    width: 100%;
  }

  #menu-and-search #search {
    display: none;
  }
  
    #menu-and-search .mobile-show-search,
    #menu-and-search .mobile-show-menu {
      display: block !important;
    }

  #menu-and-search #navigation {
    display: none;
  }


  #name-and-slogan {
    padding: .5em;
    margin-right: 0px;
  }

  #site-name {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

/**
 * Main menu styles
 */
#primary {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 7px 0;
  margin: 0;
}

#primary li {
  margin-right: 30px; 
  display: inline;
  list-style-type: none;
}
  
#primary li.first {
  margin-left: 25px;
}
  
#primary li.last {
  margin-right: 0;
}

#primary a {
  color: #fff;
  text-decoration: none;
}
    
#primary a:hover {
  color: red;
}

#primary {
  background-color: transparent;
  left: auto;
  right: 0;
  bottom: 0;
  padding-bottom: 0;
  text-align: right;
  width: auto;
}

#primary li {
  margin-right: 0;
}

#primary li.first {
  margin-left: 0;
}

#primary li a {
  font-size: 1.3em;
  font-weight: normal;
  padding: 15px 20px;
  float: left;
  border: 1px solid transparent;
  color: #3E3E3E;
}

#primary li a.active,
#primary li a:hover {
  border-color: #CCCCCC;
  background-color: #FFF;
  color: #3E3E3E;
}

/**
 * Main menu styles - Mobile
 */
@media only screen and (max-width: 480px) {
  #primary {
    position: relative;
    padding: 0;
    right: auto;
    left: auto;
    bottom: auto;
    top: auto;
  }
  
    #primary li {
      border-top: 1px solid #FFF;
/*      border-bottom: 1px solid #999;*/
      display: block;
      margin: 0;
      padding: 0;
    }
    
    #primary li.first {
      margin-left: 0;
    }

      #primary li a {
        text-align: left;
        float: none;
        border: none;
        color: #fff;
        display: block;
        padding: 0 20px;
        font: normal 18px/57px 'BreeSerifRegular', 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
        background: #404040;
        background-image: linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
        background-image: -o-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
        background-image: -moz-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
        background-image: -webkit-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
        background-image: -ms-linear-gradient(bottom, #343434 0%, #4C4C4C 100%);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, #343434),
          color-stop(1, #4C4C4C)
        );
        background-image: url('../images/blue-texture-background.png');
      }
      
      #primary li a:hover,
      #primary li a:active,
      #primary li a.active {
        color: white;
        background: #282828;
        background-image: linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -o-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -moz-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -webkit-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -ms-linear-gradient(bottom, #1A1A1A 0%, #333333 100%);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, #1A1A1A),
          color-stop(1, #333333)
        );
        background: #3E3E3E;
      }
}


/**
 * Secondary menu styles 
 */
#secondary {
  position: absolute;
  right: 0;
  top: 0;
  background: #000;
  padding: 3px 10px;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

#secondary li {
  display: inline;
  list-style-type: none;
  margin-right: 15px;
}

#secondary li.last {
  margin-right: 0px;
}

#secondary a {
  color: #fff;
  text-decoration: none;
}

#secondary a:hover {
  color: #red;
}

#secondary {
  background-color: transparent;
  font-weight: normal;
  padding-right: 0;
}

#secondary li {
  margin-right: 0;
}

#secondary li a {
  display: block;
  float: left;
  margin-right: 35px;
  padding-bottom: 8px;
}

#secondary li.last a {
  margin-right: 0;
}

#secondary li a:hover,
#secondary li a.active {
  background: transparent url('../images/top-nav-active.png') center bottom no-repeat;
}

/**
 * Secondary menu styles - Mobile
 */
@media only screen and (max-width: 480px) {
  #secondary {
    display: none;
  }
}

/**
 * Search styles 
 */
#search {
  position: absolute;
  right: 0;
  top: 45px;
  display: block;
  width: 215px;
}
  
#search #search-form {
  margin-bottom: 0;
}
  
#search .form-item-keys {
  margin: 0;
}

#search input.form-text {
  width: 172px;
  background-color: #fff;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  padding: 8px 14px;
  font-size: 15px;
  min-width: 185px;
  margin-right: 0;
}

#search input.form-submit {
  display: none;
}
  
/*
 * A bug in FireFox causes submit buttons to be 2px taller than an input
 * text field with the same properities. Sadly, there is no good solution to
 * this issue, but this is a hacky fix that solves the problem
 * @see http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 */
@-moz-document url-prefix() {
  #search .form-submit {
    border: 0px;
  }
}

/**
 * Search styles - Mobile
 */
@media only screen and (max-width: 480px) {
  #search {
    position: inherit;
    width: 100%;
    border: 1px solid #000;
    border-width: 1px 0;
  }
  
    #search form {
      position: relative;
    }
  
  #search div.form-item {
    margin-right: 51px;
    display: block;
  }
  
  #search input.form-text {
    width: 100%;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font: normal 18px/18px 'BreeSerifRegular', 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
    height: 50px;
    max-height: 50px;
    padding: 2px 20px 0 20px;
    box-sizing: border-box; /* @see http://stackoverflow.com/questions/628500/can-i-stop-100-width-text-boxes-from-extending-beyond-their-containers/628912#628912 */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #EEE;
    background-image: linear-gradient(bottom, #DADADA 0%, #FEFEFE 100%);
    background-image: -o-linear-gradient(bottom, #DADADA 0%, #FEFEFE 100%);
    background-image: -moz-linear-gradient(bottom, #DADADA 0%, #FEFEFE 100%);
    background-image: -webkit-linear-gradient(bottom, #DADADA 0%, #FEFEFE 100%);
    background-image: -ms-linear-gradient(bottom, #DADADA 0%, #FEFEFE 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #DADADA),
    color-stop(1, #FEFEFE)
    );
  }

  #search .form-submit {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    width: 51px;
    max-width: 51px;
    height: 51px;
    background: #6d6d6d url(../images/icon-search-mobile.png) no-repeat center center;
    background-image: url(../images/icon-search-mobile.png), linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -o-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -moz-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -webkit-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -ms-linear-gradient(bottom, rgb(90,90,90) 0%, rgb(128,128,128) 100%);
    background-image: url(../images/icon-search-mobile.png), -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(90,90,90)),
      color-stop(1, rgb(128,128,128))
    );
  }
}
