/* Override panopoly */
a#navbar-link-admin-panopoly:before {
  background-image: none;
}

a#navbar-link-admin-panopoly.active:before {
  background-image: none;
}

a#navbar-link-admin-apps:before {
  background-image: none;
}

a#navbar-link-admin-apps.active:before {
  background-image: none;
}

/* From Unary theme */

.drupal-navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.drupal-navbar .navbar-bar {
  background: #2c3e50;
  color: white;
  min-height: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.drupal-navbar .navbar-bar .navbar-tab > a {
  font-weight: normal;
  display: block;
  padding: 18px 15px 18px 40px;
  font-size: 1.1em;
  text-transform: capitalize;
}
.drupal-navbar .navbar-bar .navbar-tab > a:hover, .drupal-navbar .navbar-bar .navbar-tab > a:focus, .drupal-navbar .navbar-bar .navbar-tab > a.active {
  background-color: #34495e;
}
.drupal-navbar .navbar-bar .navbar-tab > a:before {
  width: auto;
  background: none;
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 50px;
  left: 15px;
}
.drupal-navbar .navbar-bar .navbar-tab > a.navbar-icon-home:before {
  content: "\f015";
}
.drupal-navbar .navbar-bar .navbar-tab > a.navbar-icon-menu:before {
  content: "\f0c9";
}
.drupal-navbar .navbar-bar .navbar-tab > a.navbar-icon-shortcut:before {
  content: "\f02e";
}
.drupal-navbar .navbar-bar .navbar-tab > a.navbar-icon-user:before {
  content: "\f007";
}
.drupal-navbar .navbar-tray .navbar-lining {
  border: none;
  background-color: #f2f2f2;
}
.drupal-navbar .navbar-tray .navbar-lining:before {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 {
  border: none;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a {
  display: block;
  font-size: 1.4em;
  color: #a2a2a2;
  padding: 20px 25px 20px 60px;
  text-decoration: none;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a:hover {
  color: #555555;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a:hover:before {
  color: #555555;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a:before {
  background: none;
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 60px;
  left: 0px;
  display: block;
  width: 60px;
  text-align: center;
  color: #a2a2a2;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-apps:before {
  content: "\f00a";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-content:before {
  content: "\f022";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-panopoly:before {
  content: "\f0d0";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-structure:before {
  content: "\f0e8";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-appearance:before {
  content: "\f06e";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-people:before {
  content: "\f0c0";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-modules:before {
  content: "\f0e8";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-configuration:before {
  content: "\f0ad";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box a.navbar-icon-reports:before {
  content: "\f016";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box .navbar-handle:active, .drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box .navbar-handle:focus {
  outline: none;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1 > .navbar-box .navbar-handle:before {
  background: none;
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 60px;
  left: 0px;
  display: block;
  text-align: center;
  color: #555555;
  content: "\f105";
  text-indent: 0;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.active-trail a {
  font-weight: normal;
  color: #555555;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.active-trail a:before {
  color: #555555;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open {
  background-color: white;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open .navbar-handle:before {
  content: "\f107";
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open .navbar-box a {
  color: #555555;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open .navbar-box a:before {
  color: #555555;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul {
  margin: -10px 0 0;
  padding-left: 60px;
  padding-bottom: 25px;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul li .navbar-handle:active, .drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul li .navbar-handle:focus {
  outline: none;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul li a {
  padding: 7px 0;
  font-size: 1.15em;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul ul {
  margin: 0 0 1.5em;
  border: none;
  background: none;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul ul li a {
  font-size: 0.95em;
}
.drupal-navbar .navbar-tray .navbar-lining ul.root li.level-1.open > ul ul li a.active {
  font-weight: bold;
}
.drupal-navbar .navbar-tray.navbar-tray-horizontal {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.drupal-navbar .navbar-tray.navbar-tray-horizontal ul.root li.level-1 .navbar-box > a {
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
}
.drupal-navbar .navbar-tray.navbar-tray-horizontal ul.root li.level-1 .navbar-box > a:before {
  line-height: 48px;
  width: 50px;
}
.drupal-navbar .navbar-toggle-orientation button {
  height: 24px;
}
.drupal-navbar .navbar-toggle-orientation button:focus, .drupal-navbar .navbar-toggle-orientation button:active {
  outline: none;
}

/**
 * At larger screen sizes, the tray pushes the page content.
 */
@media only screen and (min-width: 38.125em) {
  body.navbar-tray-open.navbar-vertical {
    margin-left: 280px;
    /* LTR */
    margin-left: 17rem;
    /* LTR */
  }
}
@media only screen and (min-width: 16.5em) {
  .drupal-navbar .navbar-tray-vertical,
  .drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
    width: 280px;
    width: 17rem;
  }

  .drupal-navbar .navbar-tray-vertical.active > .navbar-lining:before {
    display: block;
    left: -1px;
    /* LTR */
  }
}
@media only screen and (min-width: 16.5em) {
  .drupal-navbar .navbar-bar .navbar-tab > a {
    padding: 25px 0;
    text-indent: 0;
  }
  .drupal-navbar .navbar-bar .navbar-tab > a span {
    display: none;
  }
  .drupal-navbar .navbar-bar .navbar-tab > a:before {
    left: 20px;
  }
}
@media only screen and (min-width: 36em) {
  .drupal-navbar .navbar-bar .navbar-tab > a {
    padding: 18px 15px 18px 40px;
    text-indent: 0;
  }
  .drupal-navbar .navbar-bar .navbar-tab > a span {
    display: inline;
  }
  .drupal-navbar .navbar-bar .navbar-tab > a:before {
    left: 15px;
  }
}